 body {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 20px;
    background-color:black;
    text-align: center;
    color: #41e8a8;
    
  }

  #game_container {
    /* contains grid and clues section */
    gap: 5px; 
    /* space between the grid rows and columns  */
    margin-top: 10px;
  }

  .grid-cell { 
    /* for each cell of the grid */
    width: 60px;
    height: 60px;
    text-align: center;
    font-size: 1.2rem;
    border: 2px solid #ddd;
    border-radius: 6px;
    background-color: #fff;
  }

  .grid-cell:focus {
    /* for the outline of the cell when it is clicked on  */
    border-color: #f56969;
    outline: none; 
    /* removes default outline */
  }

  .rec{ 
    /* for the line that divides the crossword and clues */
    position: relative;
    height: 107%;
    width: 3px;
    background-color: #f56969;
    position: absolute;
    margin-top: 30px;
    left: 810px;
}

#across_clues, #down_clues {
      display: grid; 
      /* creating separate grids for both across and down clues */
      grid-template-columns: repeat(4,1fr);
      /* creates 4 columns and 1 fraction of space is taken by each column to keep it even spaced */
      gap: 10px;
      margin: 10px;
}

#across_clues:has(.clue-box:hover) .clue-box:not(:hover),
#down_clues:has(.clue-box:hover) .clue-box:not(:hover) {
  /* here the clue box from across clues and down clues is being selected
  the clue box that is being hovered on is selected from either of the grids 
  then the target that the css property works on are the clue boxes that are not being hovered on */
    filter: blur(4px) brightness(0.8);
    /* here gaussian blur effect is used with radius 4px (more the radius more the pixels smooth out), the radius is the standard deviation value */
    /* blurring the rest of the clues and dimming them by reducing brightness by 80 percent */
    transition: filter 0.2s;
    /* for smooth animation from the blur to normal */
}


.clue-box {
  /* for the clue box */
    border: 2px solid #333;
    padding: 10px;
    border: 2px solid #f56969; 
    text-align: center;
    border-radius: 10px;
}

.clue-box:hover {
  z-index: 10;
  /* to remove overlapping while scaling the clues */
  transform: scale(1.3);
  /* image becomes 130% larger when hoered on */
  transition: transform 0.2s;
}
  /* takes 0.2s to do the transform */


.clue-number {
  /* for the numbering of clues */
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 22px;
}

.clue-image {
    width: 160px;
    height: 160px;
    object-fit: cover;
    /* to cut off excess clue image */
    border-radius: 8px;
}

#button{
  /* for the check answer button */
  height: 100px;
  width: 740px;
  background-color: #ffffff;
  position: absolute;
  top:107%;
  left: 50px;
  font-size: 30px;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-color: #f56969;
  color: white;
}

.thumbnail {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    border: 2px solid white;
    transition: transform 0.3s;
    /* for the transform property the transition takees 0.3s */
}

.thumbnail:hover {
    transform: scale(1.1);
}

.thumbnail-container {
    width: 40px;
    height: 40px;
}

#congrats-overlay {
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
     /* stretch the overlay to all four edges of the screen */
    width: 100vw; height: 100vh;
    /* sets the width of the overlay to 100% of the viewport width and height(vw= viewport width) */
    background: rgba(0, 0, 0, 0.5);
    /* 0.5 means 50% transparent */
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(8px);
    /* bluring the screen behind the congratulations message */
}

.congrats-message {
    background: white;
    padding: 40px 60px;
    border-radius: 20px;
    font-size: 2.5rem;
    color: #4caf50;
    text-align: center;
}